body{
    /*background-image: url("../photo/111111.jpg")*/
    /*ackground-image: url(../photo//111111.jpg);*/
    /*background-color: darkcyan;*/
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    color:rgb(5, 0, 8);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.tete{
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 20px 20px ;
    width: 97%;
    border-bottom: #00d2ff solid;
    background-color:blue;
    background-attachment: fixed;
    margin-top: 0%;
    position: fixed; /* pour rendre la partie en tete statique*/
    top: 0; /*  espace du haut*/
    z-index: 100%; /*  pour que la partie body passe endessous de la partie en tete*/
}

nav a{
    font-size: x-large;
    gap: 10px;
    margin-right: 10px;
    color: black;
    margin-left: 120px;
}

nav a:hover{
    font-size: 20px;
	color: white;
    border-bottom: 4px solid var(--couleurprincipale);
    border-radius: 10px;
	background-color: rgb(245, 122, 106);

}

a:hover{
    font-size: 20px;
	color: white;
    border-bottom: 4px solid var(--couleurprincipale);
    border-radius: 10px;
	background-color: rgb(245, 122, 106);

}

.torresila{
    font-size: 20px;
	color: rgb(8, 8, 8);
    border: 1px solid ;
    border-radius: 10px;
	background-color: rgb(250, 250, 245);
    margin-top: 0px;
    text-align: center;
    justify-content: center;
}

.torresilanga{
    font-size: 20px;
	color: rgb(8, 8, 8);
    border: 1px solid ;
    border-radius: 10px;
	background-color: rgb(250, 250, 245);
    margin-top: 0px;
    margin-left: 50%;
}

#prese{
    text-align: center;
    margin-top: 110px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(191, 219, 153, 0.5);
    border: solid 1px blue;
    margin-left: 400px;
    margin-right: 400px; 
    padding: 0px;
    padding-bottom: 27px;
}

#torre{
    text-align: center;
    margin-top: 108px;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(191, 219, 153, 0.5);
    border: solid 1px blue;
    margin-left: 400px;
    margin-right: 400px; 
   
}

.moprojet{
    height: 350px;
    right: 300px;
    margin: 50px;
}


.corps{
    margin: 20px;
    display: flex;
    justify-content: center;
}

 footer{
    border-top: solid white ;
    background-color: rgb(154, 187, 187);
    margin-top: 90px;
    padding: 0px;
    color: rgb(12, 11, 11);
    margin-bottom: 0px;
 }

 .intero{
    margin-left: 20px;
    background-color: whitesmoke;
    border:#00d2ff 1px solid;
    box-shadow: 0 0 30px rgba(191, 219, 153, 0.5);
    border-radius:5px;
    color: #ff0055;
    margin-right: 100px;
    padding: 0px;
    
 }

 .centre{
    text-align: center;
    margin-bottom: 8px;
    font-family: "Brush Script MT";
    font-size: x-large;
 }

 
.bloc{
    display: flex;
    gap: 10px;
    font-size: medium;
}

.pied{
    margin-left: 8px;
    gap: 5px;
    margin: 5px;
    padding: 5px;
    align-items: center;
    justify-content: center;
   
}

fieldset{
    display: flex;
    text-align: center;
    margin: 10px;
    padding: 10px;
    gap: 30px;
    border-radius: 20px;
   
}
.formulairecotacte{
   text-align: center;
   justify-content: center;
   justify-items: center;
  
}

form{
    margin-left: 380px;
    margin-right: 350px;
    padding: 10px;
}

.cotacter{
    margin: 10px;
    padding: 5px;
}


input, textarea, button{
    float: left;
    border: solid 1px blue;
    margin: 10px;
    text-align: center;
    padding: 8px;   
}

button{
    font-size: large;
    border: solid 1px rgb(230, 15, 15);
    color: blue;
}



img, h5{
    gap: 0px;
    margin: none;
}

a{
    text-decoration: none;
    background-attachment: fixed;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: ease-in-out;

   
}

.pied{
    display: flex;
    gap: 10px;
    height: 40px;
    margin-left: 100px;
    
    
}

span{
    float: left;
    margin-top: 15px;
    padding: 5px;
}

.mon_histoire{
    display: flex;
    gap: 20px;
    align-items: flex-start;
    margin-left: 120px;
    margin-top: 80px;
    text-align: center;
    justify-content: center;
    justify-items: center;
    margin-bottom: 200px;
}

.mon_image{
    display: flex;
    gap: 20px;
    height: 250px;
    box-shadow: 0 0 15px rgba(178, 192, 196, 0.5);
    border: solid 1px blue;
    border-radius: 20px;
}

.histoire{
    margin-top: 150px;
    margin-right: 100px;
    box-shadow: 0 0 15px rgba(181, 196, 199, 0.5);
    border: solid 1px blue;
    margin: 1px;
    padding: 1px;
    border-radius: 20px;
}


.mes_competences{
    display: flex;
    border-radius: 20px;
    border: solid 1px blue;
    margin-right: 50px;
}

.competences{
    margin: 20px;
    gap: 50px;
    flex-direction: column;
    border-radius: 20px;
   
}

.icone{
    height: 100px;
    margin: 5px;
    box-shadow: 0 0 10px rgba(136, 255, 0, 0.5);
    border: solid 1px blue;
    border-radius: 20px;
    
}


#service{
    justify-items: center;
    justify-content: center;
    display:flex;
    gap: 50px;
    margin-top: 80px;
    margin-left: 30px;
    margin-right: 50px;
    border-radius: 20px;
}

.mon_service{
    box-shadow: 0 0 10px rgba(136, 255, 0, 0.5);
    border: solid 1px blue;
    margin: 20px;
    border-radius: 10px;
}

.id{
    height: 150px;
    float: left;
    gap: 50px;
}

.mo_titre, p{
    display: flex;
    margin-bottom: 30px;
    gap: 50px;
    text-align: center;
    justify-content: center;
    justify-items: center;
}


.mocorps{
    
    box-shadow: 0 0 10px rgba(5, 158, 230, 0.5);
    border: solid 1px blue;
    display: flex;
    justify-content: center;
    justify-items: center;
    right: 40px;
    gap: 50px;
    margin: 20px;
    height: 70px;
    margin-top: 0px;
    margin-bottom: 20px;
    bottom: 50px;
}


.mobile{
    display: flex;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax (300px, 1tf));
    gap: 20px;
}

.prjet img{
    margin-left: 200ppx;
    margin: 10px;
    width: 400px;
    box-shadow: 0 0 10px rgba(136, 255, 0, 0.5);
    border: solid 3px blue;
    border-radius: 15px;
}


#prjt{
    margin-top: 80px;
    text-align: center;
    font-family: "Times New Roman";
    font-size: 3em;
}

.mpj{
    margin-left: 500px;
    margin-right: 50px;
}


.photo{
    width: 100px;
}